:root {
  --dark1: #22232a;
  --dark2: #292b38;
  --light1: #ebecef;
  --light2: #565a70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  width: 100vw;
  height: 100vh;

  background-color: var(--dark1);

  color: var(--light1);
}

main {
  width: calc(100% - 20px);
  max-width: 700px;
  aspect-ratio: 4/3;
  padding: 10px;

  border-radius: 10px;
  background-color: var(--dark2);
}

#frame {
  position: relative;

  height: 100%;

  border: solid 1px var(--light2);
  background-color: #000;

  overflow: hidden;
}

#dvd-logo {
  position: absolute;

  animation: fade-in 0.5s forwards;
  animation-delay: 1s;

  fill: var(--light1);
  opacity: 0;
}

/* logo fade in */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
